In [1]:
########## Question 1 - The market capitalization ##########
import pandas as pd
import numpy as np
pd.set_option('future.no_silent_downcasting', True)

# Input file path
file_path = "48_Industry_Portfolios.CSV"

# Step 1: Read data more efficiently
df_firms = pd.read_csv(
    file_path, 
    skiprows=2587, 
    nrows=1182,
    na_values=[-99.99]  # Handle missing values during import
)

df_size = pd.read_csv(
    file_path, 
    skiprows=3773, 
    nrows=1182,
    na_values=[-99.99]  # Handle missing values during import
)

# Step 2: Process date format
df_firms.rename(columns={df_firms.columns[0]: 'Date'}, inplace=True)
df_size.rename(columns={df_size.columns[0]: 'Date'}, inplace=True)

df_firms['Date'] = pd.to_datetime(df_firms['Date'], format='%Y%m', errors='coerce')
df_size['Date'] = pd.to_datetime(df_size['Date'], format='%Y%m', errors='coerce')

# Step 3: Ensure numerical columns are converted to float type
numeric_cols = df_firms.columns.drop('Date')
for col in numeric_cols:
    df_firms[col] = pd.to_numeric(df_firms[col], errors='coerce')
    df_size[col] = pd.to_numeric(df_size[col], errors='coerce')

# Step 4: Set index for calculations
df_firms.set_index('Date', inplace=True)
df_size.set_index('Date', inplace=True)

# Step 5: Handle missing values (use interpolation instead of filling with 0)
df_firms = df_firms.interpolate(method='time').bfill().ffill()
df_size = df_size.interpolate(method='time').bfill().ffill()

# Step 6: Compute market capitalization
# Compute market capitalization
df_market_cap = df_firms * df_size

# Ensure Date is PeriodIndex
df_market_cap.index = df_market_cap.index.to_period('M')  # Convert index to PeriodIndex

# Display data shape and time range
print(f"Market capitalization data shape: {df_market_cap.shape}")
print(f"Time range: {df_market_cap.index.min()} to {df_market_cap.index.max()}")

# Display results
df_market_cap

Market capitalization data shape: (1182, 48)
Time range: 1926-07 to 2024-12

,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
Date,,,,,,,,,,,,,,,,,,,,,
1926-07,299.40,1247.60,0.00,21.36,955.52,13.00,171.84,4.33,178.16,220.32,...,212.10,4977.87,2.38,1539.45,64.92,43.50,95.46,45.84,49.60,97.00
1926-08,306.18,1246.00,0.00,20.25,967.52,14.12,176.04,6.50,177.04,237.96,...,227.16,5058.17,1.80,1536.81,66.00,45.51,94.95,47.12,46.65,102.04
1926-09,313.02,1278.00,0.00,25.74,1024.48,16.50,174.60,9.29,169.44,231.48,...,220.92,5281.55,1.90,1521.63,65.64,50.91,97.38,48.94,46.80,108.84
1926-10,308.73,1288.40,0.00,26.76,1030.72,17.88,183.48,8.83,169.84,228.36,...,208.62,5269.14,1.76,1522.95,64.80,49.38,97.98,47.44,44.45,104.64
1926-11,307.02,1236.00,0.00,25.86,1041.28,17.62,174.06,9.31,161.12,228.36,...,196.80,5115.11,1.48,1485.99,61.98,43.56,93.78,44.66,43.95,95.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08,44880.42,429966.50,364008.40,366745.94,266317.80,37403.86,469992.12,31125.00,700076.76,221826.30,...,76173.66,1001728.70,612178.50,4403786.40,715240.96,2955967.19,1897388.87,80933.56,1594860.00,1559522.88
2024-09,45887.28,450420.00,383597.76,369697.79,287486.58,36560.68,497920.56,31633.10,743215.56,234585.90,...,77018.49,1022689.02,604116.25,4431178.18,753160.65,3014625.58,1977556.46,81376.86,1607626.10,1655730.72
2024-10,47034.96,453750.50,384463.03,372284.66,277503.65,37779.04,519229.60,30838.80,750817.98,247426.80,...,79277.58,1047316.50,599328.24,4611681.46,791989.38,2948825.70,1952851.53,86188.68,1646844.28,1632512.40
2024-11,49054.56,433380.00,354876.13,353107.26,300981.70,37887.98,540009.64,30977.20,704199.28,232245.90,...,76416.12,1061504.48,589028.59,4566562.38,786733.02,3093994.32,1867851.40,86779.23,1748620.41,1582960.64
2024-12,50538.00,434794.64,353784.62,349883.60,307463.50,37889.25,616186.80,32636.60,752841.52,250420.20,...,81090.00,1149083.50,658113.64,5029848.44,834849.18,3496387.47,2020926.13,93557.38,1993624.26,1698539.36

In [2]:
########## Question 2 - The Book-to-Market ratio ##########

# Step 1: Read the "Sum of BE/Sum of ME" data
df_BM = pd.read_csv(file_path, skiprows=4959, nrows=99)

# Rename the first column to 'Date'
df_BM.rename(columns={df_BM.columns[0]: 'Date'}, inplace=True)

# Step 2: Handle missing values in the raw data
# First, replace -99.99 with NaN, then replace NaN with 0
df_BM.replace(-99.99, np.nan, inplace=True)
df_BM.fillna(0, inplace=True)

# Step 3: Create monthly data
monthly_data = []

# Iterate through annual data and populate B/M values for each month
for i in range(len(df_BM) - 1):
    year = df_BM.loc[i, 'Date']
    bm_values = df_BM.iloc[i, 1:].values  # Extract B/M ratios excluding 'Date'
    
    # Use the current year's B/M values for July to December
    for month in range(7, 13):
        month_data = [f"{year}-{month:02d}"]
        month_data.extend(bm_values.tolist())
        monthly_data.append(month_data)
    
    # Use the current year's B/M values for January to June of the next year
    for month in range(1, 7):
        month_data = [f"{year+1}-{month:02d}"]
        month_data.extend(bm_values.tolist())
        monthly_data.append(month_data)

# Step 4: Create a monthly DataFrame
df_BM_monthly = pd.DataFrame(monthly_data, columns=['Date'] + list(df_BM.columns[1:]))

# Step 5: Ensure all columns are numeric and missing values are set to 0
for col in df_BM_monthly.columns[1:]:  # Skip the 'Date' column
    df_BM_monthly[col] = pd.to_numeric(df_BM_monthly[col], errors='coerce')

# Check again and fill any remaining NaN values with 0
df_BM_monthly.fillna(0, inplace=True)

# Step 6: Convert the date format to a monthly period
df_BM_monthly['Date'] = pd.to_datetime(df_BM_monthly['Date'], errors='coerce')
df_BM_monthly['Date'] = df_BM_monthly['Date'].dt.to_period('M')
df_BM_monthly.set_index('Date', inplace=True)

# Step 7: Validate data integrity
print(f"Monthly B/M data shape: {df_BM_monthly.shape}")
print(f"Time range: {df_BM_monthly.index.min()} to {df_BM_monthly.index.max()}") 
print(f"Number of missing values: {df_BM_monthly.isna().sum().sum()}")  # Confirm no missing values

# Display results
df_BM_monthly

Monthly B/M data shape: (1176, 48)
Time range: 1926-07 to 2024-06
Number of missing values: 0

,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
Date,,,,,,,,,,,,,,,,,,,,,
1926-07,0.65,0.63,0.0,2.54,0.79,1.99,0.81,4.34,0.38,0.90,...,0.97,1.41,2.35,0.44,0.66,0.66,0.62,0.88,0.89,0.63
1926-08,0.65,0.63,0.0,2.54,0.79,1.99,0.81,4.34,0.38,0.90,...,0.97,1.41,2.35,0.44,0.66,0.66,0.62,0.88,0.89,0.63
1926-09,0.65,0.63,0.0,2.54,0.79,1.99,0.81,4.34,0.38,0.90,...,0.97,1.41,2.35,0.44,0.66,0.66,0.62,0.88,0.89,0.63
1926-10,0.65,0.63,0.0,2.54,0.79,1.99,0.81,4.34,0.38,0.90,...,0.97,1.41,2.35,0.44,0.66,0.66,0.62,0.88,0.89,0.63
1926-11,0.65,0.63,0.0,2.54,0.79,1.99,0.81,4.34,0.38,0.90,...,0.97,1.41,2.35,0.44,0.66,0.66,0.62,0.88,0.89,0.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-02,0.65,0.43,0.1,0.13,0.28,0.39,0.17,0.59,0.14,0.19,...,0.42,0.20,0.27,0.16,0.14,0.65,0.37,0.43,0.42,0.48
2024-03,0.65,0.43,0.1,0.13,0.28,0.39,0.17,0.59,0.14,0.19,...,0.42,0.20,0.27,0.16,0.14,0.65,0.37,0.43,0.42,0.48
2024-04,0.65,0.43,0.1,0.13,0.28,0.39,0.17,0.59,0.14,0.19,...,0.42,0.20,0.27,0.16,0.14,0.65,0.37,0.43,0.42,0.48
2024-05,0.65,0.43,0.1,0.13,0.28,0.39,0.17,0.59,0.14,0.19,...,0.42,0.20,0.27,0.16,0.14,0.65,0.37,0.43,0.42,0.48
2024-06,0.65,0.43,0.1,0.13,0.28,0.39,0.17,0.59,0.14,0.19,...,0.42,0.20,0.27,0.16,0.14,0.65,0.37,0.43,0.42,0.48

In [3]:
########## Question 3 - The Momentum ##########

# Step 1: Read "Average Value Weighted Returns -- Monthly" and process data efficiently
df_return = pd.read_csv(
    file_path, 
    skiprows=11, 
    nrows=1182,
    na_values=[-99.99]  # Handle missing values during import
)

# Step 2: Data cleaning and formatting
# Rename the date column and convert it to date format
df_return.rename(columns={df_return.columns[0]: 'Date'}, inplace=True)
df_return['Date'] = pd.to_datetime(df_return['Date'], format='%Y%m', errors='coerce')

# Ensure all columns are numeric
numeric_cols = df_return.columns.drop('Date')
for col in numeric_cols:
    df_return[col] = pd.to_numeric(df_return[col], errors='coerce')

# Check for and fill missing values
missing_count = df_return.isna().sum().sum()
if missing_count > 0:
    print(f"Processed {missing_count} missing values")
    df_return.fillna(0, inplace=True)

# Step 3: Sort by date to ensure correct rolling average calculations
df_return.sort_values(by='Date', inplace=True)

# Step 4: Efficiently compute the 12-month rolling average return (industry momentum)
# Set date as index for performance optimization
df_return.set_index('Date', inplace=True)

# Compute rolling average
df_momentum = df_return.rolling(window=12, min_periods=12).mean()

# Reset index and convert date to monthly period
df_momentum.index = df_momentum.index.to_period('M')

# Step 5: Validate data integrity
print(f"Momentum data shape: {df_momentum.shape}")
print(f"Time range: {df_momentum.index.min()} to {df_momentum.index.max()}") 
print(f"Valid data starts from: {df_momentum.index[df_momentum.notna().any(axis=1)].min()}")
print(f"Number of rows containing NaN: {df_momentum.iloc[:,1:].isna().any(axis=1).sum()}")

# Display results
df_momentum

Processed 2400 missing values
Momentum data shape: (1182, 48)
Time range: 1926-07 to 2024-12
Valid data starts from: 1927-06
Number of rows containing NaN: 11

,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
Date,,,,,,,,,,,,,,,,,,,,,
1926-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1926-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1926-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1926-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1926-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08,1.801667,0.454167,1.231667,-0.335833,2.620833,-0.441667,2.371667,1.851667,1.003333,-0.075833,...,2.010000,1.155000,1.555833,2.253333,0.927500,2.925000,2.440833,1.892500,2.455833,2.653333
2024-09,1.961667,0.890000,1.831667,0.201667,2.714167,0.455000,3.662500,2.173333,1.658333,0.771667,...,2.496667,1.746667,1.720000,3.105000,1.750833,3.085000,2.142500,3.262500,2.962500,2.767500
2024-10,2.813333,0.948333,1.223333,0.134167,3.752500,1.670833,3.764167,2.395000,1.178333,-0.089167,...,2.484167,2.421667,1.663333,2.970833,1.840000,3.752500,1.492500,4.074167,4.036667,2.690833
2024-11,3.255833,0.645833,0.847500,-0.224167,3.535000,1.533333,4.024167,2.186667,1.348333,-0.320833,...,2.133333,2.101667,1.988333,3.246667,1.721667,3.756667,1.859167,3.896667,4.090000,2.757500
2024-12,2.116667,-0.190000,0.385000,-0.773333,2.771667,0.108333,3.571667,0.940000,0.810000,-0.535000,...,1.121667,0.712500,0.886667,2.690000,0.942500,2.489167,0.978333,1.695833,2.705000,2.110833

In [4]:
import statsmodels.api as sm
from datetime import datetime
import warnings

warnings.filterwarnings('ignore')  # Suppress warnings for cleaner output

########## Question 4 - The Market Beta ##########

# Step 1: Import daily data
file_path_return = "48_Industry_Portfolios_Daily.CSV"
file_path_factor = "F-F_Research_Data_Factors_daily.CSV"

# Efficient data reading function
def read_financial_data(file_path, skiprows, nrows, date_format='%Y%m%d'):
    """Read financial data more efficiently"""
    df = pd.read_csv(file_path, skiprows=skiprows, nrows=nrows, na_values=[-99.99])
    df.rename(columns={df.columns[0]: 'Date'}, inplace=True)
    df['Date'] = pd.to_datetime(df['Date'], format=date_format, errors='coerce')
    
    # Convert all columns to numeric type
    for col in df.columns[1:]:
        df[col] = pd.to_numeric(df[col], errors='coerce')
    
    # Do NOT fill missing values; keep -99.99 as NaN so that they are not used in regression.
    # df.fillna(0, inplace=True)
    return df

# Read industry return data
print(f"Starting data reading: {datetime.now().strftime('%H:%M:%S')}")
df_return_daily = read_financial_data(file_path_return, skiprows=9, nrows=25901)

# Read Fama-French factor data
df_factor = read_financial_data(file_path_factor, skiprows=3, nrows=25901)
print(f"Data reading completed: {datetime.now().strftime('%H:%M:%S')}")

# Step 2: Merge datasets and calculate excess returns
print(f"Starting data processing: {datetime.now().strftime('%H:%M:%S')}")
# Efficient merging
df_excess_return = pd.merge(
    df_return_daily, 
    df_factor[['Date', 'Mkt-RF', 'SMB', 'HML', 'RF']], 
    on='Date', 
    how='inner'
)

# Compute excess returns
industry_cols = df_return_daily.columns[1:]
for col in industry_cols:
    df_excess_return[col] = df_excess_return[col] - df_excess_return['RF']

# Step 3: Add month column and set index
df_excess_return['Month'] = df_excess_return['Date'].dt.to_period('M')
df_excess_return.set_index('Date', inplace=True)
print(f"Data processing completed: {datetime.now().strftime('%H:%M:%S')}")

# Step 4: Efficient computation of 12-month rolling beta values
print(f"Starting beta calculation: {datetime.now().strftime('%H:%M:%S')}")
all_months = sorted(df_excess_return['Month'].unique())
start_month_idx = 11  # Start from the 12th month

# Preallocate result list
rolling_beta_list = []
total_months = len(all_months) - start_month_idx
industry_count = len(industry_cols)
estimated_size = total_months * industry_count

# Pre-create a sufficiently large list
rolling_beta_list = [None] * estimated_size
idx = 0

# Optimized loop for rolling regression
for month_idx in range(start_month_idx, len(all_months)):
    # Get the current month and the previous 11 months
    current_month = all_months[month_idx]
    past_months = all_months[(month_idx-11):month_idx+1]
    
    # Extract rolling window data
    rolling_window = df_excess_return[df_excess_return['Month'].isin(past_months)]
    
    # Extract market factor (excess return of market)
    Y = rolling_window['Mkt-RF']
    
    # Perform regression for each industry
    for col in industry_cols:
        X = rolling_window[col]
        
        # Check if there are enough valid observations (ignore NaN)
        valid_data = ~(X.isna() | Y.isna())
        if valid_data.sum() >= 20:  # At least 20 valid observations required
            X_with_const = sm.add_constant(X[valid_data])
            Y_valid = Y[valid_data]
            
            try:
                model = sm.OLS(Y_valid, X_with_const).fit()
                rolling_beta_list[idx] = {
                    "Month": current_month, 
                    "Industry": col, 
                    "Beta": model.params[col]
                }
                idx += 1
            except:
                # If regression fails, record as NaN
                rolling_beta_list[idx] = {
                    "Month": current_month, 
                    "Industry": col, 
                    "Beta": np.nan
                }
                idx += 1
        else:
            # Insufficient data, record as NaN
            rolling_beta_list[idx] = {
                "Month": current_month, 
                "Industry": col, 
                "Beta": np.nan
            }
            idx += 1

# Clean up the list and convert to DataFrame
rolling_beta_list = [item for item in rolling_beta_list[:idx] if item is not None]
print(f"Beta calculation completed: {datetime.now().strftime('%H:%M:%S')}")

# Step 5: Construct the final result table
print(f"Starting result table construction: {datetime.now().strftime('%H:%M:%S')}")
df_rolling_beta = pd.DataFrame(rolling_beta_list)

# Convert to pivot table with 'Month' as the index and remove the pivot table's column name
df_beta_pivot = df_rolling_beta.pivot(index='Month', columns='Industry', values='Beta')
df_beta_pivot.columns.name = None
df_beta_pivot = df_beta_pivot.rename_axis("Date") 

# Ensure column order matches the original industry order
df_market_beta = df_beta_pivot[industry_cols].copy()

# Validate results
print(f"Market beta data shape: {df_market_beta.shape}")
print(f"Time range: {df_market_beta.index.min()} to {df_market_beta.index.max()}")
print(f"Missing value proportion: {df_market_beta.isna().sum().sum() / (df_market_beta.shape[0] * df_market_beta.shape[1]):.2%}")
print(f"Result table construction completed: {datetime.now().strftime('%H:%M:%S')}")

# Display results
df_market_beta

Starting data reading: 01:33:47
Data reading completed: 01:33:48
Starting data processing: 01:33:48
Data processing completed: 01:33:48
Starting beta calculation: 01:33:48
Beta calculation completed: 01:34:09
Starting result table construction: 01:34:09
Market beta data shape: (1171, 48)
Time range: 1927-06 to 2024-12
Missing value proportion: 4.09%
Result table construction completed: 01:34:09

,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
Date,,,,,,,,,,,,,,,,,,,,,
1927-06,0.168028,0.646444,NaN,0.115902,0.424367,0.022237,0.370783,0.044957,0.366221,0.040233,...,0.279036,0.700020,-0.000567,0.518110,0.266567,0.055177,0.146320,0.103727,0.190631,0.195076
1927-07,0.170360,0.660444,NaN,0.110257,0.394796,0.029667,0.341736,0.048222,0.355580,0.037798,...,0.284723,0.700817,0.000854,0.504715,0.247090,0.053345,0.141028,0.107064,0.191017,0.192274
1927-08,0.179352,0.661760,NaN,0.141800,0.416198,0.036408,0.332174,0.059686,0.369461,0.063064,...,0.286111,0.715305,0.005249,0.498445,0.275464,0.052184,0.157492,0.110396,0.197207,0.196162
1927-09,0.192261,0.659031,NaN,0.144928,0.412678,0.032408,0.352250,0.071483,0.392413,0.102585,...,0.289368,0.724166,0.008456,0.501672,0.278579,0.040274,0.146225,0.111502,0.190241,0.195590
1927-10,0.193269,0.625277,NaN,0.150781,0.358074,0.014561,0.333796,0.054473,0.376554,0.080338,...,0.272828,0.711011,0.018115,0.505778,0.242076,0.029207,0.136490,0.098092,0.189204,0.160386
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08,0.182223,0.225315,0.274453,0.202790,0.273997,0.346428,0.385826,0.492061,0.328165,0.292922,...,0.391642,0.576170,0.717046,0.633344,0.624463,0.549674,0.320900,0.319413,0.613530,0.767069
2024-09,0.192124,0.190563,0.213162,0.149009,0.210424,0.350034,0.395983,0.498900,0.265347,0.293130,...,0.397571,0.562845,0.704501,0.645251,0.634309,0.532967,0.309324,0.329577,0.618905,0.761638
2024-10,0.191406,0.201230,0.222928,0.138230,0.112003,0.348238,0.416327,0.481311,0.269951,0.280416,...,0.414236,0.553244,0.665896,0.662028,0.629442,0.499167,0.300582,0.308404,0.615865,0.712377
2024-11,0.187871,0.159130,0.176498,0.101328,0.044201,0.316037,0.403469,0.486267,0.200907,0.255630,...,0.435206,0.531077,0.625603,0.646293,0.631242,0.412262,0.340501,0.299639,0.558510,0.658833
2024-12,0.193380,0.161301,0.134803,0.073028,0.035015,0.345616,0.422004,0.504177,0.206872,0.286632,...,0.454789,0.548973,0.635748,0.654082,0.657091,0.426810,0.327187,0.329524,0.583664,0.673310

In [5]:
########## Question 5 - The Idiosyncratic Volatility ##########

print(f"Starting idiosyncratic volatility calculation: {datetime.now().strftime('%H:%M:%S')}")

# Step 1: Define industry columns and prepare data structure
industry_columns = df_excess_return.columns[0:48]  # Industry columns
unique_months = sorted(df_excess_return['Month'].unique())

# Estimate result size and preallocate memory
estimated_entries = len(unique_months) * len(industry_columns)
idio_vol_list = [None] * estimated_entries
idx = 0

# Step 2: Group by month and compute idiosyncratic volatility
for month in unique_months:
    # Get data for the current month
    monthly_data = df_excess_return[df_excess_return['Month'] == month]
    
    # Skip if there are too few trading days (at least 10 required)
    if len(monthly_data) < 10:
        continue
    
    # Preprocess factor data to avoid repeated conversions
    X_factors = monthly_data[['Mkt-RF', 'SMB', 'HML']].astype(float)
    X_with_const = sm.add_constant(X_factors)
    
    # Check if factor data contains missing values
    if X_with_const.isnull().values.any():
        continue  # Skip this month if factor data has missing values
    
    # Process all industries in batch
    for col in industry_columns:
        # Dependent variable: industry excess returns
        Y = monthly_data[col].astype(float)
        
        # Check for missing values
        if not Y.isnull().values.any() and len(Y) >= 10:
            try:
                # Run regression model
                model = sm.OLS(Y, X_with_const).fit()
                residuals = model.resid
                
                # Compute sample standard deviation (ddof=1) as idiosyncratic volatility
                idio_vol = np.std(residuals, ddof=1)
                
                # Store result
                idio_vol_list[idx] = {"Month": month, "Industry": col, "IdioVol": idio_vol}
                idx += 1
            except Exception as e:
                # Log error but continue processing
                print(f"Error processing industry {col} in {month}: {str(e)}")
                idio_vol_list[idx] = {"Month": month, "Industry": col, "IdioVol": np.nan}
                idx += 1
        else:
            # Insufficient data or missing values, record as NaN
            idio_vol_list[idx] = {"Month": month, "Industry": col, "IdioVol": np.nan}
            idx += 1

# Clean up the list and convert to DataFrame
idio_vol_list = [item for item in idio_vol_list[:idx] if item is not None]
df_idio_vol = pd.DataFrame(idio_vol_list)

print(f"Idiosyncratic volatility calculation completed: {datetime.now().strftime('%H:%M:%S')}")

# Step 3: Construct the final result table
print(f"Starting result table construction: {datetime.now().strftime('%H:%M:%S')}")

# Convert to pivot table
df_idio_vol_pivot = df_idio_vol.pivot(index='Month', columns='Industry', values='IdioVol')
df_idio_vol_pivot.columns.name = None
df_idio_vol_pivot = df_idio_vol_pivot.rename_axis("Date") 

# Ensure column order matches the original data
if 'original_industry_order' not in locals():
    original_industry_order = industry_columns  # Use current industry column order if not previously defined

df_idio_vol = df_idio_vol_pivot[original_industry_order].copy()

# Validate results
print(f"Idiosyncratic volatility data shape: {df_idio_vol.shape}")
print(f"Time range: {df_idio_vol.index.min()} to {df_idio_vol.index.max()}")
print(f"Missing value proportion: {df_idio_vol.isna().sum().sum() / (df_idio_vol.shape[0] * df_idio_vol.shape[1]):.2%}")
print(f"Result table construction completed: {datetime.now().strftime('%H:%M:%S')}")

# Display results
df_idio_vol

Starting idiosyncratic volatility calculation: 01:34:09
Idiosyncratic volatility calculation completed: 01:34:17
Starting result table construction: 01:34:17
Idiosyncratic volatility data shape: (1182, 48)
Time range: 1926-07 to 2024-12
Missing value proportion: 4.23%
Result table construction completed: 01:34:17

,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
Date,,,,,,,,,,,,,,,,,,,,,
1926-07,1.059686,0.436997,NaN,0.980130,0.284659,1.965567,0.453940,3.811006,0.635716,0.937987,...,1.095933,0.272083,3.700514,0.378619,0.591462,1.033545,0.366767,0.574326,1.043104,1.126595
1926-08,0.502760,0.344433,NaN,2.099765,0.478890,3.160176,0.451839,3.759329,0.565175,0.870524,...,0.626917,0.332167,4.499114,0.393576,0.643957,1.992761,0.702159,0.812033,1.096164,1.574339
1926-09,0.588144,0.341016,NaN,1.077383,0.343738,2.390853,0.635593,3.027208,0.745272,0.968388,...,0.681163,0.277475,4.493388,0.507409,0.452458,0.856329,0.564302,0.728448,0.578417,0.786062
1926-10,1.088001,0.249694,NaN,1.854061,0.388655,1.515549,0.729261,1.855566,0.559404,1.106451,...,0.765858,0.216365,3.650916,0.604488,0.593962,1.425857,0.422264,1.115894,0.982753,0.951109
1926-11,1.089445,0.288570,NaN,0.950513,0.422322,1.960180,0.361407,3.063012,0.610345,1.093763,...,0.708598,0.115500,2.943827,0.501891,0.585072,1.744111,0.708645,0.788715,0.987246,1.870023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-08,0.733938,0.732068,0.817644,0.694938,0.927238,0.600905,0.589178,0.785203,0.809223,0.673033,...,0.652636,0.603612,0.525048,0.739863,0.601095,0.309175,0.495698,0.610266,0.480484,0.414199
2024-09,0.630693,0.522973,0.719947,0.709577,0.825748,0.570898,0.679482,0.696885,0.607493,1.088281,...,0.469155,0.704064,0.560410,0.546753,0.430392,0.555137,0.513036,0.676240,0.404032,0.472682
2024-10,0.830810,0.448896,0.697542,0.639448,1.714121,0.636465,1.344174,0.623886,0.514177,0.989762,...,0.754899,0.587824,0.511851,0.476735,0.524805,0.244272,0.609924,1.195123,0.454347,0.587068
2024-11,1.803202,0.665110,0.619364,0.924889,1.057019,0.977798,0.876083,0.741382,0.737534,1.244463,...,0.486309,0.440451,0.502875,0.755709,0.514589,0.383431,0.585238,1.199664,0.470572,0.441753
2024-12,0.612901,0.574210,0.651071,0.742011,0.766681,0.686639,0.603094,0.512789,0.602550,0.739784,...,0.586448,0.517776,0.317318,0.440226,0.492528,0.414464,0.922539,0.718722,0.357636,0.498191

In [6]:
df_return.index = df_return.index.to_period('M')  # Convert DatetimeIndex to PeriodIndex

# Check whether all tables have a consistent format

table = {
    "df_market_cap": df_market_cap,
    "df_BM_monthly": df_BM_monthly,
    "df_momentum": df_momentum,
    "df_market_beta": df_market_beta,
    "df_idio_vol": df_idio_vol,
    "df_return": df_return
}

# Check if data types are consistent across DataFrames**
print("📌 Checking data types for each DataFrame:")
for name, df in table.items():
    print(f"\n{name}:")
    print(df.dtypes)

# Check if column names are consistent across DataFrames**
column_sets = {name: set(df.columns) for name, df in table.items()}

print("\n📌 Checking if all DataFrames have the same columns:")
columns_reference = column_sets["df_market_cap"]  # Use df_market_cap as the reference DataFrame
for name, columns in column_sets.items():
    if columns != columns_reference:
        print(f"❌ {name} has different columns!")
    else:
        print(f"✅ {name} has the same columns.")

# Check if index types are consistent across DataFrames**
print("\n📌 Checking index type for each DataFrame:")
for name, df in table.items():
    print(f"{name}: {type(df.index)}")

# Check and replace missing values (NaN, -99.99, -999) with 0**
print("\n📌 Checking for missing values and replacing them with 0:")
for name, df in table.items():
    missing_values = ((df.isna()) | (df == -99.99) | (df == -999)).sum().sum()
    if missing_values > 0:
        print(f"⚠️ {name}: {missing_values} missing values found! Replacing them with 0.")
        df.replace([-99.99, -999, np.nan], 0, inplace=True)  # ✅ Replace NaN, -99.99, and -999 with 0
    else:
        print(f"✅ {name}: No missing values.")

# Check if DataFrame shapes are consistent**
print("\n📌 Checking shape of each DataFrame:")
for name, df in table.items():
    print(f"{name}: {df.shape}")

📌 Checking data types for each DataFrame:

df_market_cap:
Agric    float64
Food     float64
Soda     float64
Beer     float64
Smoke    float64
Toys     float64
Fun      float64
Books    float64
Hshld    float64
Clths    float64
Hlth     float64
MedEq    float64
Drugs    float64
Chems    float64
Rubbr    float64
Txtls    float64
BldMt    float64
Cnstr    float64
Steel    float64
FabPr    float64
Mach     float64
ElcEq    float64
Autos    float64
Aero     float64
Ships    float64
Guns     float64
Gold     float64
Mines    float64
Coal     float64
Oil      float64
Util     float64
Telcm    float64
PerSv    float64
BusSv    float64
Comps    float64
Chips    float64
LabEq    float64
Paper    float64
Boxes    float64
Trans    float64
Whlsl    float64
Rtail    float64
Meals    float64
Banks    float64
Insur    float64
RlEst    float64
Fin      float64
Other    float64
dtype: object

df_BM_monthly:
Agric    float64
Food     float64
Soda     float64
Beer     float64
Smoke    float64
Toys     float64
Fun      float64
Books    float64
Hshld    float64
Clths    float64
Hlth     float64
MedEq    float64
Drugs    float64
Chems    float64
Rubbr    float64
Txtls    float64
BldMt    float64
Cnstr    float64
Steel    float64
FabPr    float64
Mach     float64
ElcEq    float64
Autos    float64
Aero     float64
Ships    float64
Guns     float64
Gold     float64
Mines    float64
Coal     float64
Oil      float64
Util     float64
Telcm    float64
PerSv    float64
BusSv    float64
Comps    float64
Chips    float64
LabEq    float64
Paper    float64
Boxes    float64
Trans    float64
Whlsl    float64
Rtail    float64
Meals    float64
Banks    float64
Insur    float64
RlEst    float64
Fin      float64
Other    float64
dtype: object

df_momentum:
Agric    float64
Food     float64
Soda     float64
Beer     float64
Smoke    float64
Toys     float64
Fun      float64
Books    float64
Hshld    float64
Clths    float64
Hlth     float64
MedEq    float64
Drugs    float64
Chems    float64
Rubbr    float64
Txtls    float64
BldMt    float64
Cnstr    float64
Steel    float64
FabPr    float64
Mach     float64
ElcEq    float64
Autos    float64
Aero     float64
Ships    float64
Guns     float64
Gold     float64
Mines    float64
Coal     float64
Oil      float64
Util     float64
Telcm    float64
PerSv    float64
BusSv    float64
Comps    float64
Chips    float64
LabEq    float64
Paper    float64
Boxes    float64
Trans    float64
Whlsl    float64
Rtail    float64
Meals    float64
Banks    float64
Insur    float64
RlEst    float64
Fin      float64
Other    float64
dtype: object

df_market_beta:
Agric    float64
Food     float64
Soda     float64
Beer     float64
Smoke    float64
Toys     float64
Fun      float64
Books    float64
Hshld    float64
Clths    float64
Hlth     float64
MedEq    float64
Drugs    float64
Chems    float64
Rubbr    float64
Txtls    float64
BldMt    float64
Cnstr    float64
Steel    float64
FabPr    float64
Mach     float64
ElcEq    float64
Autos    float64
Aero     float64
Ships    float64
Guns     float64
Gold     float64
Mines    float64
Coal     float64
Oil      float64
Util     float64
Telcm    float64
PerSv    float64
BusSv    float64
Comps    float64
Chips    float64
LabEq    float64
Paper    float64
Boxes    float64
Trans    float64
Whlsl    float64
Rtail    float64
Meals    float64
Banks    float64
Insur    float64
RlEst    float64
Fin      float64
Other    float64
dtype: object

df_idio_vol:
Agric    float64
Food     float64
Soda     float64
Beer     float64
Smoke    float64
Toys     float64
Fun      float64
Books    float64
Hshld    float64
Clths    float64
Hlth     float64
MedEq    float64
Drugs    float64
Chems    float64
Rubbr    float64
Txtls    float64
BldMt    float64
Cnstr    float64
Steel    float64
FabPr    float64
Mach     float64
ElcEq    float64
Autos    float64
Aero     float64
Ships    float64
Guns     float64
Gold     float64
Mines    float64
Coal     float64
Oil      float64
Util     float64
Telcm    float64
PerSv    float64
BusSv    float64
Comps    float64
Chips    float64
LabEq    float64
Paper    float64
Boxes    float64
Trans    float64
Whlsl    float64
Rtail    float64
Meals    float64
Banks    float64
Insur    float64
RlEst    float64
Fin      float64
Other    float64
dtype: object

df_return:
Agric    float64
Food     float64
Soda     float64
Beer     float64
Smoke    float64
Toys     float64
Fun      float64
Books    float64
Hshld    float64
Clths    float64
Hlth     float64
MedEq    float64
Drugs    float64
Chems    float64
Rubbr    float64
Txtls    float64
BldMt    float64
Cnstr    float64
Steel    float64
FabPr    float64
Mach     float64
ElcEq    float64
Autos    float64
Aero     float64
Ships    float64
Guns     float64
Gold     float64
Mines    float64
Coal     float64
Oil      float64
Util     float64
Telcm    float64
PerSv    float64
BusSv    float64
Comps    float64
Chips    float64
LabEq    float64
Paper    float64
Boxes    float64
Trans    float64
Whlsl    float64
Rtail    float64
Meals    float64
Banks    float64
Insur    float64
RlEst    float64
Fin      float64
Other    float64
dtype: object

📌 Checking if all DataFrames have the same columns:
✅ df_market_cap has the same columns.
✅ df_BM_monthly has the same columns.
✅ df_momentum has the same columns.
✅ df_market_beta has the same columns.
✅ df_idio_vol has the same columns.
✅ df_return has the same columns.

📌 Checking index type for each DataFrame:
df_market_cap: <class 'pandas.core.indexes.period.PeriodIndex'>
df_BM_monthly: <class 'pandas.core.indexes.period.PeriodIndex'>
df_momentum: <class 'pandas.core.indexes.period.PeriodIndex'>
df_market_beta: <class 'pandas.core.indexes.period.PeriodIndex'>
df_idio_vol: <class 'pandas.core.indexes.period.PeriodIndex'>
df_return: <class 'pandas.core.indexes.period.PeriodIndex'>

📌 Checking for missing values and replacing them with 0:
✅ df_market_cap: No missing values.
✅ df_BM_monthly: No missing values.
⚠️ df_momentum: 528 missing values found! Replacing them with 0.
⚠️ df_market_beta: 2301 missing values found! Replacing them with 0.
⚠️ df_idio_vol: 2400 missing values found! Replacing them with 0.
✅ df_return: No missing values.

📌 Checking shape of each DataFrame:
df_market_cap: (1182, 48)
df_BM_monthly: (1176, 48)
df_momentum: (1182, 48)
df_market_beta: (1171, 48)
df_idio_vol: (1182, 48)
df_return: (1182, 48)

In [7]:
def construct_long_short_portfolio(
    df_char: pd.DataFrame,
    df_returns: pd.DataFrame,
    df_market_cap: pd.DataFrame = None,
    top_n: int = 5,
    bottom_n: int = 5,
    weighting: str = 'equal',
    print_assets: bool = True
) -> pd.DataFrame:
    """
    Construct a long-short portfolio based on characteristic sorting.
    """
    
    # 1. Make copies to avoid altering the original data
    df_char = df_char.copy()
    df_returns = df_returns.copy()
    
    # Ensure the DataFrames have PeriodIndex
    if not isinstance(df_char.index, pd.PeriodIndex):
        raise ValueError("df_char must have a PeriodIndex.")
    if not isinstance(df_returns.index, pd.PeriodIndex):
        raise ValueError("df_returns must have a PeriodIndex.")
    
    # 2. Merge characteristic and returns data
    df_merged = pd.merge(
        df_char, 
        df_returns,
        left_index=True,
        right_index=True,
        how='inner',
        suffixes=('_char', '_ret')
    )
    
    # 3. If using market-cap weighting, merge market-cap data
    if weighting == 'mcw':
        if df_market_cap is None:
            raise ValueError("You must provide df_market_cap when weighting='char'.")
        if not isinstance(df_market_cap.index, pd.PeriodIndex):
            raise ValueError("df_market_cap must have a PeriodIndex.")
        
        df_market_cap = df_market_cap.copy()
        # Rename columns to distinguish them
        df_market_cap = df_market_cap.add_suffix('_cap')
        
        df_merged = pd.merge(
            df_merged,
            df_market_cap,
            left_index=True,
            right_index=True,
            how='inner'
        )
    
    # 4. Sort by index (date)
    df_merged = df_merged.sort_index()
    
    # Identify columns
    char_cols = [col for col in df_merged.columns if col.endswith('_char')]
    ret_cols = [col for col in df_merged.columns if col.endswith('_ret')]
    
    ls_results = []
    asset_selections = []
    
    # 5. Iterate through each date
    for date_, row in df_merged.iterrows():
        # Extract characteristic and return data for this date
        row_char = pd.Series({col.replace('_char', ''): row[col] for col in char_cols})
        row_ret = pd.Series({col.replace('_ret', ''): row[col] for col in ret_cols})
        
        # ►► Treat 0 as missing: exclude them from sorting
        #    Replace 0 with NaN or filter them out directly
        row_char_filtered = row_char.replace(0, np.nan).dropna()
        
        # If everything is zero or missing, skip or handle accordingly
        if len(row_char_filtered) == 0:
            # No valid industries; skip or set returns to NaN
            ls_results.append({
                'Date': date_ + 1,
                'LS_Return': np.nan
            })
            continue
        
        # Sort remaining industries by characteristic (descending)
        row_char_sorted = row_char_filtered.sort_values(ascending=False)
        
        # Select top_n and bottom_n industries
        # If the DataFrame is smaller than (top_n + bottom_n), it will just return fewer.
        top_industries = row_char_sorted.index[:top_n]
        bottom_industries = row_char_sorted.index[-bottom_n:]
        
        # Record selected assets
        asset_selections.append({
            'Date': date_,
            'Long_Assets': list(top_industries),
            'Long_Characteristic_Values': {ind: row_char[ind] for ind in top_industries if ind in row_char},
            'Short_Assets': list(bottom_industries),
            'Short_Characteristic_Values': {ind: row_char[ind] for ind in bottom_industries if ind in row_char}
        })
        
        # Get the corresponding returns for the top/bottom industries
        top_returns = row_ret[top_industries].dropna()
        bottom_returns = row_ret[bottom_industries].dropna()
        
        # Compute portfolio returns
        if weighting == 'equal':
            # Equal-weighted returns
            r_long = top_returns.mean() if not top_returns.empty else np.nan
            r_short = bottom_returns.mean() if not bottom_returns.empty else np.nan
        else:  # weighting == 'mcw'
            # Market-cap weighted
            cap_cols = [col for col in df_merged.columns if col.endswith('_cap')]
            row_cap = pd.Series({col.replace('_cap', ''): row[col] for col in cap_cols})
            
           # # Debug Information - Checking Industry and Market Cap Data
           # print(f"\n==== Debug for date {date_} ====")
           # print(f"Selected top industries: {top_industries.tolist()}")
           # print(f"Selected bottom industries: {bottom_industries.tolist()}")
           # print(f"Available cap industries: {row_cap.index.tolist()}")
            
            # Filter out zero or missing caps
            row_cap_filtered = row_cap.replace(0, np.nan).dropna()
            #print(f"Available cap industries (after filtering): {row_cap_filtered.index.tolist()}")
            
            ## Debug Information - Check if there are any leading or trailing spaces in industry names
            #if len(bottom_industries) > 0:
            #    print("Check bottom industries:")
            #    for ind in bottom_industries:
            #        print(f"- '{ind}' (length: {len(ind)})")
                    
            #    print("Check Market Cap Data Index:")
            #    for ind in row_cap_filtered.index:
            #        print(f"- '{ind}' (length: {len(ind)})")
            
            # Safe Access - Check if an industry exists before accessing its data
            valid_top_industries = [ind for ind in top_industries if ind in row_cap_filtered.index]
            valid_bottom_industries = [ind for ind in bottom_industries if ind in row_cap_filtered.index]
            
            #print(f"Valid top industries: {valid_top_industries}")
            #print(f"Valid bottom industries: {valid_bottom_industries}")
            
            if len(valid_top_industries) > 0:
                top_cap = row_cap_filtered[valid_top_industries]
            else:
                top_cap = pd.Series()
                
            if len(valid_bottom_industries) > 0:
                bottom_cap = row_cap_filtered[valid_bottom_industries]
            else:
                bottom_cap = pd.Series()
            
            sum_top_cap = top_cap.sum()
            sum_bottom_cap = bottom_cap.sum()
            
            r_long = (top_returns * top_cap).sum() / sum_top_cap if sum_top_cap != 0 else np.nan
            r_short = (bottom_returns * bottom_cap).sum() / sum_bottom_cap if sum_bottom_cap != 0 else np.nan
        
        # Calculate long-short return
        ls_ret = r_long - r_short
        
        # Shift date forward by one period
        shifted_date = date_ + 1
        
        ls_results.append({
            'Date': shifted_date,
            'LS_Return': ls_ret
        })
    
    # Print selected assets each date
    #if print_assets:
    #    print("\n===== Long-Short Portfolio Asset Selections =====")
    #    for selection in asset_selections:
    #        print(f"\nDate: {selection['Date']}")
            
    #        print("Long Assets (high characteristic values):")
    #        for ind in selection['Long_Assets']:
    #            char_val = selection['Long_Characteristic_Values'].get(ind, np.nan)
    #            print(f"  - {ind}: characteristic={char_val:.4f}")
            
    #        print("Short Assets (low characteristic values):")
    #        for ind in selection['Short_Assets']:
    #            char_val = selection['Short_Characteristic_Values'].get(ind, np.nan)
    #            print(f"  - {ind}: characteristic={char_val:.4f}")
    
    # Create the final result DataFrame
    df_ls = pd.DataFrame(ls_results).set_index('Date').sort_index()
    return df_ls

In [8]:
df_market_cap_equal = construct_long_short_portfolio(
    df_char=df_market_cap,
    df_returns=df_return,
    top_n=5,
    bottom_n=5,
    weighting='equal'
)
df_market_cap_equal

         LS_Return
Date
1926-08     -0.880
1926-09    -10.544
1926-10      5.416
1926-11      3.562
1926-12     -0.126
...            ...
2024-09      7.114
2024-10     -0.896
2024-11      3.996
2024-12     -8.174
2025-01      7.706

[1182 rows x 1 columns]

In [9]:
df_BM_equal = construct_long_short_portfolio(
    df_char=df_BM_monthly,
    df_returns=df_return,
    top_n=5,
    bottom_n=5,
    weighting='equal'
)
df_BM_equal

         LS_Return
Date
1926-08      5.360
1926-09     20.420
1926-10      1.834
1926-11      2.408
1926-12     -2.652
...            ...
2024-03      0.094
2024-04      0.716
2024-05     -4.270
2024-06      2.656
2024-07     -5.378

[1176 rows x 1 columns]

In [10]:
df_momentum_equal = construct_long_short_portfolio(
    df_char=df_momentum,
    df_returns=df_return,
    top_n=5,
    bottom_n=5,
    weighting='equal'
)
df_momentum_equal

         LS_Return
Date
1926-08        NaN
1926-09        NaN
1926-10        NaN
1926-11        NaN
1926-12        NaN
...            ...
2024-09      5.388
2024-10      1.672
2024-11      3.592
2024-12      6.372
2025-01     10.608

[1182 rows x 1 columns]

In [11]:
df_market_beta_equal = construct_long_short_portfolio(
    df_char=df_market_beta,
    df_returns=df_return,
    top_n=5,
    bottom_n=5,
    weighting='equal'
)
df_market_beta_equal

         LS_Return
Date
1927-07     -3.044
1927-08      3.458
1927-09     -6.996
1927-10      0.592
1927-11      3.712
...            ...
2024-09      4.904
2024-10     -0.812
2024-11      1.616
2024-12      4.868
2025-01      5.312

[1171 rows x 1 columns]

In [12]:
df_idio_vol_equal = construct_long_short_portfolio(
    df_char=df_market_cap,
    df_returns=df_idio_vol,
    top_n=5,
    bottom_n=5,
    weighting='equal'
)
df_idio_vol_equal

         LS_Return
Date
1926-08  -2.099812
1926-09  -2.313057
1926-10  -2.465936
1926-11  -2.088002
1926-12  -1.971731
...            ...
2024-09  -0.561242
2024-10  -0.477317
2024-11  -0.850174
2024-12  -0.559839
2025-01  -0.259072

[1182 rows x 1 columns]

In [13]:
# Market cap weighted portfolio for the market cap characteristic
df_market_cap_weighted = construct_long_short_portfolio(
    df_char=df_market_cap,       # characteristic table for market cap
    df_returns=df_return,        # corresponding returns table
    df_market_cap=df_market_cap, # market cap data used for weighting
    top_n=5,
    bottom_n=5,
    weighting='mcw'
)
df_market_cap_weighted

         LS_Return
Date
1926-08  -1.570710
1926-09  -9.628392
1926-10   2.332040
1926-11   1.249461
1926-12   0.950963
...            ...
2024-09   5.020181
2024-10   0.424588
2024-11   2.341759
2024-12  -3.712234
2025-01   8.356454

[1182 rows x 1 columns]

In [14]:
# Market cap weighted portfolio for the BM (book-to-market) characteristic
df_BM_weighted = construct_long_short_portfolio(
    df_char=df_BM_monthly,       # characteristic table for BM
    df_returns=df_return,
    df_market_cap=df_market_cap, # use the same market cap data for weighting
    top_n=5,
    bottom_n=5,
    weighting='mcw'
)
df_BM_weighted

         LS_Return
Date
1926-08   0.266767
1926-09  13.159442
1926-10   2.840874
1926-11   3.541957
1926-12  -2.544179
...            ...
2024-03  -5.004140
2024-04   2.055578
2024-05  -1.543940
2024-06  -9.155359
2024-07  -8.154370

[1176 rows x 1 columns]

In [15]:
# Market cap weighted portfolio for the momentum characteristic
df_momentum_weighted = construct_long_short_portfolio(
    df_char=df_momentum,         # characteristic table for momentum
    df_returns=df_return,
    df_market_cap=df_market_cap,
    top_n=5,
    bottom_n=5,
    weighting='mcw'
)
df_momentum_weighted

         LS_Return
Date
1926-08        NaN
1926-09        NaN
1926-10        NaN
1926-11        NaN
1926-12        NaN
...            ...
2024-09   4.348257
2024-10   4.662321
2024-11   3.721598
2024-12   4.022441
2025-01  11.968288

[1182 rows x 1 columns]

In [16]:
# Market cap weighted portfolio for the market beta characteristic
df_market_beta_weighted = construct_long_short_portfolio(
    df_char=df_market_beta,      # characteristic table for market beta
    df_returns=df_return,
    df_market_cap=df_market_cap,
    top_n=5,
    bottom_n=5,
    weighting='mcw'
)
df_market_beta_weighted

         LS_Return
Date
1927-07  -3.670261
1927-08   1.233400
1927-09  -7.512835
1927-10   0.600376
1927-11  -0.666288
...            ...
2024-09   5.086116
2024-10   0.614049
2024-11   0.533256
2024-12   5.036724
2025-01   4.990673

[1171 rows x 1 columns]

In [17]:
df_idio_vol_weighted = construct_long_short_portfolio(
    df_char=df_idio_vol,         
    df_returns=df_idio_vol,      
    df_market_cap=df_market_cap,
    top_n=5,
    bottom_n=5,
    weighting='mcw'
)
df_idio_vol_weighted

         LS_Return
Date
1926-08   1.713775
1926-09   2.063791
1926-10   1.697860
1926-11   1.795488
1926-12   1.924377
...            ...
2024-09   0.676077
2024-10   1.387373
2024-11   2.936168
2024-12   2.261081
2025-01   1.652501

[1182 rows x 1 columns]

In [18]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

# =========================================================
# Read and prepare Fama-French 3-factor and 5-factor data
# =========================================================

file_path_3factor = "F-F_Research_Data_Factors.CSV"
file_path_5factor = "F-F_Research_Data_5_Factors_2x3.CSV"

# Read 3-factor data
df_3factor = pd.read_csv(file_path_3factor, skiprows=3, nrows=1182)
df_3factor.rename(columns={df_3factor.columns[0]: 'Date'}, inplace=True)
df_3factor['Date'] = pd.to_datetime(df_3factor['Date'], format='%Y%m', errors='coerce')
df_3factor.set_index('Date', inplace=True)
df_3factor.index = df_3factor.index.to_period('M')

# Read 5-factor data
df_5factor = pd.read_csv(file_path_5factor, skiprows=3, nrows=738)
df_5factor.rename(columns={df_5factor.columns[0]: 'Date'}, inplace=True)
df_5factor['Date'] = pd.to_datetime(df_5factor['Date'], format='%Y%m', errors='coerce')
df_5factor.set_index('Date', inplace=True)
df_5factor.index = df_5factor.index.to_period('M')

# =========================================================
# 2. Put all the strategies results together
# =========================================================

strategies_results = {
    "market_cap_equal": df_market_cap_equal,
    "BM_equal": df_BM_equal,
    "momentum_equal": df_momentum_equal,
    "market_beta_equal": df_market_beta_equal,
    "idio_vol_equal": df_idio_vol_equal,
    "market_cap_weighted": df_market_cap_weighted,
    "BM_weighted": df_BM_weighted,
    "momentum_weighted": df_momentum_weighted,
    "market_beta_weighted": df_market_beta_weighted,
    "idio_vol_weighted": df_idio_vol_weighted
}

# =========================================================
# 3. Merge each strategy with the Fama-French data
# =========================================================

# A) Merge with 3-factor data
merged_results_3f = {}
for strat_name, df_strat in strategies_results.items():
    # Merge on index = 'Date' (both are PeriodIndex)
    # Keep only 'RF' plus the factor columns we need for alpha
    # For 3-factor, we have columns: ['Mkt-RF', 'SMB', 'HML', 'RF']
    df_temp = pd.merge(df_strat, df_3factor, on='Date', how='inner')
    
    # Compute Excess_Return = LS_Return - RF
    df_temp['Excess_Return'] = df_temp['LS_Return'] - df_temp['RF']
    
    merged_results_3f[strat_name] = df_temp

# B) Merge with 5-factor data
merged_results_5f = {}
for strat_name, df_strat in strategies_results.items():
    # For 5-factor, columns: ['Mkt-RF', 'SMB', 'HML', 'RMW', 'CMA', 'RF']
    df_temp = pd.merge(df_strat, df_5factor, on='Date', how='inner')
    
    # Compute Excess_Return = LS_Return - RF
    df_temp['Excess_Return'] = df_temp['LS_Return'] - df_temp['RF']
    
    merged_results_5f[strat_name] = df_temp

# =========================================================
# 4. Define helper functions for Sharpe Ratio and Alpha
# =========================================================

def compute_sharpe(df, return_col='Excess_Return'):
    """
    Compute the Sharpe Ratio for a given DataFrame and return column.
    Assumes the return_col already represents (R_p - R_f).
    """
    mean_ret = df[return_col].mean()
    std_ret = df[return_col].std()
    if std_ret == 0:
        return np.nan
    return mean_ret / std_ret

def compute_alpha(df, return_col='Excess_Return', factor_cols=['Mkt-RF','SMB','HML']):
    """
    Compute alpha via OLS regression of the strategy's Excess Return on specified factor columns.
    Returns alpha (intercept) if factor columns are present.
    
    Parameters:
        df          : DataFrame containing the strategy returns and factor columns
        return_col  : Name of the column containing the strategy's excess returns
        factor_cols : List of factor columns, e.g. ['Mkt-RF','SMB','HML'] for 3-factor
    """
    # Ensure all factor_cols exist in df
    if not all(col in df.columns for col in factor_cols):
        return np.nan  # If missing factor columns, can't compute alpha
    
    # Prepare X (factors) and Y (excess return)
    X = df[factor_cols].copy()
    X = sm.add_constant(X)
    Y = df[return_col].copy()
    
    # Fit OLS model, ignoring NaN with missing='drop'
    model = sm.OLS(Y, X, missing='drop').fit()
    return model.params.get('const', np.nan)

# =========================================================
# 5. Evaluate performance for multiple time periods
# =========================================================

time_periods = {
    "1950-2025": (pd.Period("1950-01", freq="M"), pd.Period("2025-12", freq="M")),
    "1990-2025": (pd.Period("1990-01", freq="M"), pd.Period("2025-12", freq="M")),
    "2000-2025": (pd.Period("2000-01", freq="M"), pd.Period("2025-12", freq="M"))
}

def evaluate_strategies_performance(
    strategies_dict,
    time_periods,
    return_col='Excess_Return',
    factor_cols=['Mkt-RF','SMB','HML']
):
    """
    Evaluate each strategy in 'strategies_dict' over multiple time periods.
    For each (strategy, time_period), compute and print Sharpe Ratio and Alpha.
    
    Parameters:
        strategies_dict : dict of {strategy_name: DataFrame} after merging with factor data
        time_periods    : dict defining the start/end Period for each label
        return_col      : column containing the strategy's excess returns
        factor_cols     : list of columns for factor regression, e.g. 3-factor or 5-factor
    """
    for strat_name, df_strat in strategies_dict.items():
        print(f"\n=== Strategy: {strat_name} ===")
        for period_label, (start, end) in time_periods.items():
            # Filter the DataFrame by the given time range
            df_period = df_strat.loc[(df_strat.index >= start) & (df_strat.index <= end)]
            if df_period.empty:
                print(f"  {period_label}: No data")
                continue
            
            # Calculate Sharpe Ratio
            sharpe_ratio = compute_sharpe(df_period, return_col=return_col)
            
            # Calculate Alpha (using the specified factor_cols)
            alpha = compute_alpha(df_period, return_col=return_col, factor_cols=factor_cols)
            
            print(f"  {period_label} -> Sharpe: {sharpe_ratio:.4f}, Alpha: {alpha:.4f}")

# =========================================================
# 6. Run evaluation for 3-factor and 5-factor models
# =========================================================

# 3-factor evaluation
print("\n\n========== 3-Factor Model Evaluation ==========")
evaluate_strategies_performance(
    strategies_dict=merged_results_3f,
    time_periods=time_periods,
    return_col='Excess_Return',
    factor_cols=['Mkt-RF', 'SMB', 'HML']  # 3-factor columns
)

# 5-factor evaluation
print("\n\n========== 5-Factor Model Evaluation ==========")
evaluate_strategies_performance(
    strategies_dict=merged_results_5f,
    time_periods=time_periods,
    return_col='Excess_Return',
    factor_cols=['Mkt-RF', 'SMB', 'HML', 'RMW', 'CMA']  # 5-factor columns
)

========== 3-Factor Model Evaluation ==========

=== Strategy: market_cap_equal ===
  1950-2025 -> Sharpe: -0.1134, Alpha: -0.5048
  1990-2025 -> Sharpe: -0.0623, Alpha: -0.3300
  2000-2025 -> Sharpe: -0.1090, Alpha: -0.6179

=== Strategy: BM_equal ===
  1950-2025 -> Sharpe: -0.0463, Alpha: -0.2522
  1990-2025 -> Sharpe: -0.0158, Alpha: -0.0980
  2000-2025 -> Sharpe: 0.0396, Alpha: 0.1847

=== Strategy: momentum_equal ===
  1950-2025 -> Sharpe: 0.7581, Alpha: 3.9911
  1990-2025 -> Sharpe: 0.7639, Alpha: 4.6116
  2000-2025 -> Sharpe: 0.7206, Alpha: 4.6495

=== Strategy: market_beta_equal ===
  1950-2025 -> Sharpe: -0.0783, Alpha: -0.3669
  1990-2025 -> Sharpe: -0.0248, Alpha: -0.1493
  2000-2025 -> Sharpe: -0.0556, Alpha: -0.3237

=== Strategy: idio_vol_equal ===
  1950-2025 -> Sharpe: -2.6201, Alpha: -0.9032
  1990-2025 -> Sharpe: -2.2652, Alpha: -0.8518
  2000-2025 -> Sharpe: -2.0355, Alpha: -0.8008

=== Strategy: market_cap_weighted ===
  1950-2025 -> Sharpe: -0.1307, Alpha: -0.5331
  1990-2025 -> Sharpe: -0.0768, Alpha: -0.3490
  2000-2025 -> Sharpe: -0.1108, Alpha: -0.5539

=== Strategy: BM_weighted ===
  1950-2025 -> Sharpe: -0.0708, Alpha: -0.3866
  1990-2025 -> Sharpe: -0.0616, Alpha: -0.3944
  2000-2025 -> Sharpe: -0.0118, Alpha: -0.1302

=== Strategy: momentum_weighted ===
  1950-2025 -> Sharpe: 0.6554, Alpha: 3.6890
  1990-2025 -> Sharpe: 0.6460, Alpha: 4.2129
  2000-2025 -> Sharpe: 0.6036, Alpha: 4.2046

=== Strategy: market_beta_weighted ===
  1950-2025 -> Sharpe: -0.0552, Alpha: -0.2913
  1990-2025 -> Sharpe: -0.0141, Alpha: -0.1094
  2000-2025 -> Sharpe: -0.0496, Alpha: -0.3046

=== Strategy: idio_vol_weighted ===
  1950-2025 -> Sharpe: 1.5695, Alpha: 0.7480
  1990-2025 -> Sharpe: 1.9814, Alpha: 0.9853
  2000-2025 -> Sharpe: 2.2427, Alpha: 1.0820


========== 5-Factor Model Evaluation ==========

=== Strategy: market_cap_equal ===
  1950-2025 -> Sharpe: -0.1173, Alpha: -0.4640
  1990-2025 -> Sharpe: -0.0623, Alpha: -0.3365
  2000-2025 -> Sharpe: -0.1090, Alpha: -0.7059

=== Strategy: BM_equal ===
  1950-2025 -> Sharpe: -0.0352, Alpha: -0.2520
  1990-2025 -> Sharpe: -0.0158, Alpha: -0.0986
  2000-2025 -> Sharpe: 0.0396, Alpha: 0.2172

=== Strategy: momentum_equal ===
  1950-2025 -> Sharpe: 0.7368, Alpha: 4.1268
  1990-2025 -> Sharpe: 0.7639, Alpha: 4.5949
  2000-2025 -> Sharpe: 0.7206, Alpha: 4.5517

=== Strategy: market_beta_equal ===
  1950-2025 -> Sharpe: -0.0667, Alpha: -0.3048
  1990-2025 -> Sharpe: -0.0248, Alpha: -0.2020
  2000-2025 -> Sharpe: -0.0556, Alpha: -0.4207

=== Strategy: idio_vol_equal ===
  1950-2025 -> Sharpe: -2.6407, Alpha: -0.9447
  1990-2025 -> Sharpe: -2.2652, Alpha: -0.8402
  2000-2025 -> Sharpe: -2.0355, Alpha: -0.7818

=== Strategy: market_cap_weighted ===
  1950-2025 -> Sharpe: -0.1360, Alpha: -0.4855
  1990-2025 -> Sharpe: -0.0768, Alpha: -0.3299
  2000-2025 -> Sharpe: -0.1108, Alpha: -0.5841

=== Strategy: BM_weighted ===
  1950-2025 -> Sharpe: -0.0702, Alpha: -0.4075
  1990-2025 -> Sharpe: -0.0616, Alpha: -0.3906
  2000-2025 -> Sharpe: -0.0118, Alpha: -0.1381

=== Strategy: momentum_weighted ===
  1950-2025 -> Sharpe: 0.6296, Alpha: 3.7267
  1990-2025 -> Sharpe: 0.6460, Alpha: 4.1748
  2000-2025 -> Sharpe: 0.6036, Alpha: 4.0590

=== Strategy: market_beta_weighted ===
  1950-2025 -> Sharpe: -0.0538, Alpha: -0.2870
  1990-2025 -> Sharpe: -0.0141, Alpha: -0.1800
  2000-2025 -> Sharpe: -0.0496, Alpha: -0.4166

=== Strategy: idio_vol_weighted ===
  1950-2025 -> Sharpe: 1.4323, Alpha: 0.7326
  1990-2025 -> Sharpe: 1.9814, Alpha: 0.9725
  2000-2025 -> Sharpe: 2.2427, Alpha: 1.0630